<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Food</th>
            <th scope="col">Weights (g)</th>
            <th scope="col">mgPHE/g</th>
            <th scope="col">PHE</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {{#each entries}}
            <tr>
                <td>{{ food.description }}</td>
                <td>{{ weight }}</td>
                <td>{{ food.phe_multiplier }}</td>
                <td>{{ phe }}</td>
                <td>
                {{#if editable}}
                    <a href="{{ edit_url }}/{{ id }}">x</a>
                    <a href="{{ remove_url }}/{{ id }}">y</a>
                {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

