<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Food</th>
            <th scope="col">Grams</th>
            <th scope="col">mgPHE/g</th>
            <th scope="col">Date</th>
            {{#if editable}}
                <th scope="col"></th>
            {{/if}}
        </tr>
        </thead>
        <tbody>
        {{#each food}}
            <tr>
                <td>{{ food.name }}</td>
                <td>{{ weight }}</td>
                <td>{{ food.phe_multiplier }}</td>
                <td>{{ date }}</td>
                <td>
                {{#if editable}}
                    <a href="{{ edit_url }}/{{ id }}">Edit</a>
                    <a href="{{ remove_url }}/{{ id }}">Remove</a>
                {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

