<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Description</th>
        <th scope="col">PHE Multiplier</th>
        <th scope="col">Sources</th>
        <th scope="col">Updated On</th>
        <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {{#each food}}
        <tr>
            <td>{{ name }}</td>
            <td>{{ phe_multiplier }}</td>
            <td>{{ source.name }}</td>
            <td>{{ updated_on }}</td>
            <td>
                {{#ifCond source.id '===' '123' }}
                <a href="{{ edit_url }}/{{ id }}">Edit</a>
                {{/ifCond}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
