<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Goal</th>
            <th scope="col">Final</th>
            <th scope="col">Notes</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {{#each records}}
            <tr>
                <td>{{ date }}</td>
                <td>{{ target_phe_level }}</td>
                <td>{{ actual_phe_level }}</td>
                <td>{{ notes }}</td>
                <td><a href="/records/details/{{ _id }}">View</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
